* {
  box-sizing: border-box;
}
:root {
  --type-color-basic: #333;
  --type-color-yellow: #fb1;
  --type-color-light-yellow: #fea;
  --type-color-dark-brown: #764701;
  --type-color-light-grey: #eee;
  --type-color-white: #fff;
  --type-color-error: #f31;

  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: var(--type-color-basic);
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img{
  display: block;
  max-width: 100%;
}

button, input{
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--type-color-basic);
}

a {
  text-decoration: none;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}